{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            <h3><strong>Congrats!</strong></h3> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Create your member profile</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-danger">Create Account</button>
                            <a href="{% url 'home' %}" class="btn btn-outline-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}