{% extends 'base.html' %}
{% load static %}


{% block title %}
    Update your profile member
{% endblock %}
{% block content %}
    <br xmlns="http://www.w3.org/1999/html"><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center"> Edit Profile</h1>
                <div class="text-center">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <img src="{{ user.profile.url}}" class="avatar img-circle rounded-circle" alt="profile picture" style="width: 200px; height: 200px">
                        <h6>Change Photo</h6>
                        {{ form.profile }}
                        <hr>
                        <h3>Personal Info</h3><br>
                        <label class="col-lg-3 control-label" for="id_username">Username:{{ form.username }}</label>
                        <label class="col-lg-3 control-label" for="id_username">Username:{{ form.position}}</label>
{#                        <input type="text" name="username" class={{ form.username }} required id="id_username">#}
                        <label class="col-lg-3 control-label">Email: {{ form.email }}</label><br><br>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}