{% extends 'base.html' %}
{% load static %}


{% block title %}
    Update your profile member
{% endblock %}

{% block content %}
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br><br><br><br>
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Edit Profile</h5>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <img src="{{ user.memberuser.profile.url }}" class="avatar img-circle img-thumbanail"
                                     style="width: 100px; height: 100px;">
                                <h6>Upload a diffrent photo</h6>
                                {{ form.profile }}
                            </div>
                            <hr>
                            <h3> Personal Info</h3>
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="{{ form.username.id_label }}">Username:</label> {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="{{ form.position.id_label}}">Position:</label> {{ form.position }}
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="{{ form.email.id_label }}">Email:</label> {{ form.email }}
                            </div><br>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-danger">Save Changes</button>
                                    <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Cancel</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}