{% extends 'base.html' %}
{% load static %}
{% block title %} Notifications {% endblock %}
{% block content %}
    <br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="modal fade" id="notifications" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="notificationsLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="notificationsLabel">Notifications</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    {% for notification in notifications %}
                                        <li>{{ notification.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}