{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if allprojects %}
                    <h2 style="color: #d9232d"><strong>You are owner for:</strong></h2><br>
                    <table class="table" id="projecttable">
                        <thead>
                        <th> Name</th>
                        <th>Description</th>
                        <th> Start Date</th>
                        <th> Status</th>
                        <th> Timeline</th>
                        <th> Action</th>
                        </thead>
                        <tbody>
                        {% for project in allprojects %}
                            <tr>
                                <td> {{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.start_date|date:'d-m-Y' }}</td>
                                <td>{{ project.status }}</td>
                                <td>{{ project.end_date|date:'d-m-Y' }}</td>
                                <td>
                                    <div class="btn-group dropend">
                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            More Actions
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'update-project' project.id %}"
                                                   class="dropdown-item">Update Project</a></li>
                                            <li><a href="{% url 'delete-project' project.id %}"
                                                   class="dropdown-item">Delete Project</a></li>
                                            <li><a href="#" class="dropdown-item">See project members</a></li>
                                            <li><a href="{% url 'add-members-project' project_id=project.id %}"
                                                   class="dropdown-item">
                                                Add members </a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table><br><br>
                    <h2 style="color: #d9232d"><strong>The projects you are assigned:</strong></h2>
                    <table class="table" id="projecttablee">
                        <thead>
                        <th> Name</th>
                        <th>Description</th>
                        <th> Start Date</th>
                        <th> Status</th>
                        <th> Timeline</th>
                        <th> Action</th>
                        </thead>
                        <tbody>
                        {% for project in projectsmember %}
                            <tr>
                                <td> {{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.start_date|date:'d-m-Y' }}</td>
                                <td>{{ project.status }}</td>
                                <td>{{ project.end_date|date:'d-m-Y' }}</td>
                                <td>
                                    <a href="{% url 'detail-project' project.id %}" class=" btn btn-danger">View Details </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <H1>No projects yet</H1>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}