{% extends 'base.html' %}
{% load static %}
{% block title %} Project Manager {% endblock %}

{% block content %}
    <div class="container-fluid">
        <section id="hero">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">

                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="carousel-item active">
                        <div class="carousel-container">
                            <div class="container">
                                <br><br><br><br>
                                <h2 class="animate__animated animate__fadeInDown">Welcome to
                                    <span>Project Manager</span></h2>
                                <p class="animate__animated animate__fadeInUp">Organize your work and life!</p>
                                <p>From small projects to large initiatives!</p>
                                <a href="{% url 'create-member' %}" class="btn btn-danger">Start for
                                    free</a><br><br>
                                <p> If you have an account <br> <a href="{% url 'login' %}" class="btn btn-danger">
                                    Log In</a></p>
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item">
                        <div class="carousel-container">
                            <div class="container">
                                <br><br><br><br>
                                <h2 class="animate__animated animate__fadeInDown">Meet the smarter way to
                                    work</h2>
                                <p class="animate__animated animate__fadeInUp">Organize and assign tasks.
                                    Make it easy for your team to focus on tasks currently at hand. </p>
                                <p>Collaborate on group work </p>
                                <a href="{% url 'create-member' %}" class="btn btn-danger">Start
                                    for free</a> <br><br>
                                <p> If you have an account <br><a href="{% url 'login' %}" class="btn btn-danger">
                                    Log
                                    In</a></p>
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item">
                        <div class="carousel-container">
                            <div class="container">
                                <br><br><br><br>
                                <h2 class="animate__animated animate__fadeInDown">Prioritize what's
                                    important</h2>
                                <p class="animate__animated animate__fadeInUp">Visualize workflows and projects.<br>Work
                                    smarter and save time.</p>
                                <a href="{% url 'create-member' %}" class="btn btn-danger">Start
                                    for free</a><br><br>
                                <p> If you have an account <br> <a href="{% url 'login' %}" class="btn btn-danger">
                                    Log
                                    In</a></p>
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
        </section>

        <main id="main">
            <!--  Services Section -->
            <section id="services" class="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="icon-box">
                                <i class="bi bi-briefcase"></i>
                                <h4><b>Organize your to-do list</b></h4>
                                <p>Group related tasks with sections and sort complex project task lists.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box">
                                <i class="bi bi-card-checklist"></i>
                                <h4><b>Never miss a deadline</b></h4>
                                <p>Set reminders and get notified when important tasks on your to-do list are
                                    approaching their due dates.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box">
                                <i class="bi bi-bar-chart"></i>
                                <h4><b>Turn to-do in done</b></h4>
                                <p>Bring your notes, tasks and schedules together to get things done more
                                    easily.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box">
                                <i class="bi bi-binoculars"></i>
                                <h4><b>Focus on it and allotted team members.</b></h4>
                                <p>Easily plan your projects for anything within the company.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>
    </div>

{% endblock %}