{% extends 'base.html' %}
{% load static %}
{% block title %} Confirmation email Sent {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br><br><br>
                <div class="m-t-3 card-box">
                    <div class="text-center">
                        <h4 class="text-uppercase font-bold m-b-0">SUCCESS!!</h4>
                    </div>
                    <div class="panel-body text-center">
                        <i class="fa-regular fa-circle-check fa-2xl" style="color: #50b970;"></i>
                        <p>
                            We’ve emailed you instructions for setting your password, if an
                            account exists with the email you entered. You should receive them shortly.<br>
                            If you don’t receive an email, please make sure you’ve entered the address you registered
                            with, and check your spam folder.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}