{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} Enter new Password {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br><br><br>
                <div class="card">
                    <div class="card-header">
                        Enter new password
                    </div>
                    <form class="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="card-body">
                            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                            <div class="form-row field-password1">
                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">{% translate 'New password:' %}</label>
                                {{ form.new_password1 }}
                            </div>
                            <br>
                            <div class="form-row field-password2">
                                {{ form.new_password2.errors }}
                                <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                                {{ form.new_password2 }}
                            </div>
                            <br>
                        </div>
                        <div class="card-footer text-center">
                            <input type="submit" value="{% translate 'Change my password' %}" class="btn btn-secondary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}