{% extends 'base.html' %}
{% load i18n %}
{% block title %} Reset Password {% endblock %}
{% block content %}
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br><br><br>
                <div class="card text-center">
                    <div class="card-header text-center">
                        Password Reset
                    </div>
                    <form class="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="card-body ">
                            {{ form.email.errors }}
                            <label for="id_email">{% translate 'Email address:' %}</label>
                            {{ form.email }}<br>
                            <small id="emailHelp" class="form-text text-muted">
                                Password reset instructions will be sent to this email address.</small>
                        </div>
                        <div class="card-footer text-center">
                            <input type="submit" value="{% translate 'Reset my password' %}" class="btn btn-secondary">
                            <div class="d-flex justify-content-between mt-4">
                                <p>Already have an account? <a href="{% url 'login' %}" style="text-decoration: none">
                                    Sign In</a></p>
                                <p>Don't have an account yet? <a href="{% url 'create-member' %}"
                                                                 style="text-decoration: none;">Create Account</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}