{% load static%}
<nav id="navbar" class="navbar">
    <ul>
        {% if not user.is_authenticated %}
            <li><a href="{% url 'home' %}" class="active">Home</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="{% url 'create-project' %}">Add Project</a></li>
                    <li><a href="{% url 'list-of-projects' %}">View Projects</a></li>
                    <li><a href="{% url 'my-projects' %}">My Projects</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Tasks</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="{% url 'add-task' %}">Add Task</a></li>
                    <li><a href="{% url 'list-of-taks' %}">My Tasks</a></li>
                </ul>
            </li>
            <li><a href="{% url 'team-members' %}">Team</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li>
                <a href="{% url 'notifications' %}"><i class="fa-regular fa-bell fa-xl" style="color: #910808;"></i><span
                        class="badge text-bg-secondary"></span></a>
                {#                notifications#}
            </li>
            <li>
                <div class="dropdown">
                    <a class="d-flex align-items-center show" href="#" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        <div>
                            <div class="avatar">
                                <img src="{{user.memberuser.profile.url}}" alt="img" class="rounded-circle" style="width: 30px; height: 30px;">
                            </div>
                        </div>
                            <div class="d-none d-sm-block ms-3">
                                <span class="h6">{{ user.first_name }}</span>
                            </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-endshow" data-bs-popper="static">
                        <a class="dropdown-item" href="{% url 'edit-profile' %}"> Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}"> Log Out</a>
                    </div>
                </div>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}" class="getstarted">Log In </a></li>
            <li><a href="{% url 'create-member' %}" class="getstarted">Get Started</a></li>
        {% endif %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>