{% include 'base.html' %}
{% load static %}
{% block title %} Add Task {% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            <h3><strong>Congrats!</strong>{{ message }}</h3>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-header text-center">Add a new task here..</div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#addModal">
                                Save
                            </button>
                            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="ModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="ModalLabel">Attention!</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="text-primary">Are you sure you want to add the task ?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                No
                                            </button>
                                            <button type="submit" class="btn btn-danger" >Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'list-of-taks' %}" class="btn btn-outline-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}