{% extends 'base.html' %}
{% block title %} Tasks {% endblock %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if alltasks %}
                    <table class="table" id="projecttable">
                        <thead>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Timeline</th>
                        <th>Project</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                        {% for task in alltasks %}
                            <tr>
                                <td>{{ task.title }}</td>
                                <td>{{ task.description }}</td>
                                <td>{{ task.status }}</td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.deadline|date:'d-m-Y' }}</td>
                                <td>{{ task.project }}</td>
                                <td>
                                    <a href="{% url 'delete-task' task.id %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}