{% extends 'base.html' %}
{% load static %}
{% block title %} Tasks {% endblock %}
{% block content %}
    <br><br><br><br><br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if alltasks %}
                    <table class="table" id="projecttable">
                        <thead>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Timeline</th>
                        <th>Project</th>
                        <th>Action</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for task in alltasks %}
                            <tr>
                                <td>{{ task.title }}</td>
                                <td>{{ task.description }}</td>
                                <td>{{ task.status }}</td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.deadline|date:'d-m-Y' }}</td>
                                <td>{{ task.project }}</td>
                                <td>
                                    <div class="btn-group dropend">
                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            More Actions
                                        </button>
                                        <ul class="dropdown-menu" id="elements-list">
                                            <li><a href="{% url 'update_task' task_id=task.id %}" class="dropdown-item">Update
                                                your task </a></li>
                                            <li><a href="#" class="dropdown-item deletetasklink" id="deleteTask"
                                                   data-toggle="modal" data-target="#deleteModal{{ task.id }}">
                                                Delete Task</a></li>
                                            <li><a href="#" class="dropdown-item detailtasklink"
                                                   id="detailTask" data-toggle="modal"
                                                   data-target="#detailModal{{ task.id }}">
                                                Detail Task</a></li>
                                        </ul>
                                        {% include 'tasks/detail_task.html' %}
                                        {% include 'tasks/delete-task.html' %}
                                    </div>
                                </td>
                                <td><a href="{% url 'mark-done' task_id=task.id %}" class="btn btn-danger">Mark as
                                    done</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'js/table.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}